body {
    margin: 0;
    /* Remove the default margin */
    background: linear-gradient(293deg, rgba(0, 40, 61, 1) 0%, rgb(123, 182, 156) 100%);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.text-outline {
    color: white;
    text-shadow: -1px -1px #000000, 1px -1px 0 #000000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

#image-row, #image-row-2 {
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

img {
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
}

#img-A {
    filter: contrast(250%) brightness(150%) opacity(5%);
}

#img-B {
    filter: sepia(100%) opacity(40%);
}

#img-C {
    border: 1px solid blue;
    filter: drop-shadow(5px 5px 0 rgb(218, 108, 19)) hue-rotate(180deg) drop-shadow(5px 5px 0 rgb(218, 108, 19));
}

#img-D {
    filter: hue-rotate(90deg);
}

#img-E {
    filter: saturate(30%);
}

#img-F {
    filter: contrast(175%) brightness(200%);
}

#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: #2252d4;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;

    box-shadow: 2px 7px 5px rgb(21, 44, 66);
}

#click-me:hover {
    background-color:rgb(44, 120, 196);
    transition: 0.5s;
}